.upper-menu {
  background-color: #121212;
  padding: 10px 0;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
 
  .steps-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 20px;
    overflow-x: auto; /* Allow horizontal scrolling on small screens */
  }

  .step {
    font-size: 14px;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .arrow {
    font-size: 16px;
    color: #005baa;  // Blue color for arrows to match the website
  }

  .title {
    tab-size: 4;
    font-family: Inter,system-ui,sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-top:50px;
  }

  .subtitle {
    tab-size: 4;
    font-size: 1rem;
    font-family: Inter,system-ui,sans-serif;
    font-feature-settings: normal;
    font-variation-settings: normal;
   // box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    margin: 15px;
    text-align: center;
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
}

.title-space{
  // margin-top: 100px;
  
}

.emoji-style {
  opacity: 0.5; // 50% прозрачности
}