.skip-card-info {
  padding: 1rem;

  h2 {
    margin: 0 0 0.5rem;
  }

  .price {
    color: #00d78e;
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: bold;
    letter-spacing: 1px;
  }

  .button {
    padding: 0.6rem 1rem;
    font-weight: bold;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;

    // ограничим ширину и выровняем
    max-width: 200px;
    width: 100%;
    display: block;
    margin-left: 0;

    &:not(.selected-btn) {
      background-color: white;
      color: #007bff;

      &:hover {
        background-color: #f0f0f0;
      }
    }

    &.selected-btn {
      background-color: #00d78e;
      color: black;
      cursor: default;
    }
  }
}
